[build]
  command = "npx prisma generate && npm run build:client"
  functions = "netlify/functions"
  publish = "dist/spa"

[functions]
  node_bundler = "esbuild"
  # This tells esbuild not to treat @prisma as an external module
  # so it will be bundled with the function
  # Note: node_modules will be available at runtime anyway

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
