[build]
  command = "npm ci && npx prisma generate && npm run build:client && npm run build:server"
  functions = "netlify/functions"
  publish = "dist/spa"


[functions]
  node_bundler = "esbuild"
  included_files = [".prisma/**", "dist/server/**"]
  
[[redirects]]
  force = true
  from = "/api/*"
  status = 200
  to = "/.netlify/functions/api/:splat"
